{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis quae ex officiis amet velit quaerat nostrum, temporibus autem vero similique doloremque praesentium deleniti, aliquam harum maiores odit aperiam enim voluptas.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/programming.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}